body{
	margin: 0;
	padding: 0;
}

/*Header*/
.bg-hd{
	background-image: url(../image/large.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35em;		
	opacity: 0.8;
} 
.navbar a{
	color: black !important;
	font-family: 'Lora', serif;
	text-decoration: none;
}
/*Medidas imágenes*/
.pequeño{
	height: 50%;
}
.largo{
	width: 50%;
}

.abs{
	position: absolute;
	display: block;
	margin-top: 7%;
}
.mediano{
	width: 100%;
	height: 30em;
}
.icono{
	color: white;
	position: relative;
	display: inline-block;
	margin-left: 95%;
}
/*Background*/
.bg-bl{
	background-color: rgba(51, 124, 208, 0.8);
	height: 9em;
}
.opa{
	background-image: url(../image/sec-2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 40em;
	opacity: 0.5;
}
.bg-bl-ico{
	background-color: rgba(51, 124, 208, 0.8);
}
/*Generales*/
.text-white{
	color: gray;
}
.text-blue{
	color: blue;
}
.mer{
	font-family: 'Dosis', sans-serif;
}
.nor{
	font-family: 'Josefin Sans', sans-serif;
}
.per{
	font-family: 'Ubuntu', sans-serif;
}
.mg-t{
	margin-top: 10%;
}
.mg-5{
	margin-top: 5%;
}
.mg-l{
	margin-left: 45%;
}
.mg-ls{
	margin-top: -10%;
}
.brd{
	border-radius: 100%;
	border: 1px solid blue;
	padding: 3%;
}
